.info_list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* justify-content: space-evenly; */
  width: 100%;
  padding: 24px;
  border-radius: var(--border);
  border: 2.5px dashed #9fbaae;
}

.item {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.number {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.56px;
}

.info_text {
  width: 96px;
  color: rgba(18, 20, 23, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.28px;
}

.info_text:nth-last-child(-n + 2) {
  width: 74px;
}

@media (min-width: 800px) {
  .info_list {
    padding: 40px 0;
    gap: 0px;
    justify-content: space-evenly;
  }
}
