.btn {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding: 16px 48px;
  border: transparent;
  border-radius: var(--border-radius-btn);
  background: #f4c550;
}

.center{
    display: block;
    margin: 0 auto;
}