.review{
    margin-bottom: 32px;
}

.btn_read {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration-line: underline;
  border: none;
  background: transparent;
  margin-bottom: 32px;
}

.name {
  color: #8a8a89;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2px;
}
.rating {
    display: flex;
    gap: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 16px;
}

.text {
  font-weight: 500;
  line-height: 1.5;
}

.icon{
    width: 16px;
    height: 16px;
}