.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;
}

.levels {
  border-radius: 124px;
  width: 198px;
  height: 48px;
}

.label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #8a8a89;
  margin-bottom: 8px;
}
