.level_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 32px;
}

.level {
  display: flex;
  border-radius: 35px;
  border: 1px solid rgba(18, 20, 23, 0.2);
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #121417;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}