.btn {
  border-radius: 12px;
  padding: 16px 48px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.56;
  border: transparent;
  background-color: var(--color-btn);
  transition: background-color 0.3s ease;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--active-color-btn);
}