.teacher_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #121417;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 8px;
}

.servis_span {
  color: #8a8a89;
}

.teacher_statics {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.teacher_statics li {
  display: flex;
  align-items: center;
}

.static_after::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 16px;
  margin-left: 16px;
  background-color: rgba(18, 20, 23, 0.2);
}

.rating {
  gap: 8px;
}

.icon {
  width: 16px;
  height: 16px;
}

.price {
  color: var(--green-color);
}



.icon_heart.active {
  stroke: #f4c550;
  fill: #f4c550;
}

.icon_book {
  width: 16px;
  height: 16px;
  stroke: #000000;
  fill: transparent;
  margin-right: 8px;
}
.favorit_position{
  display: block;
}
@media (max-width: 700px) {
  .teacher_wrap {
    flex-direction: column;
  }
  .favorit_position{
    display: none;
  }
}
